

/********** Base styles **********/
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: 'Oxygen', sans-serif;
  background-color: #F8EAD9; 
  font-size: 1em;
}

.container{
  position: relative;
  top:60px;
  margin: 15px; 
}

.row{
  width: 100%;
}

.menu-title{
  text-align: center;
  margin-bottom: 50px;
  color: black;
  font-size: 1.75em;
}

.item{
  position: relative;
  top: 0;
  background-color:#999999;
  margin: 15px;
  padding: 25px;
  border: 3px solid #000;

}

.item p{
  margin-top: 18px;
  text-align: justify;

}

.item-title{
  position: absolute;
  top:0px;
  right: 0px;
  margin:-2px -2px 0 0;
  padding: 5px 90px;
  border: 2px solid #000;
}

.title-size {
  font-size: 1.25em;
}

#title1 {
  background-color: #D59898;
  top:0px;
  right:0px;

} 

#title2{
  background-color: #C14543;
  color: white
}

#title3{
  background-color: #c8ee92;
}

.title-color {
  color: white;
}

.text-size {
    font-size: 1em;
}

/* Simple Responsive Framework. */

/********** Large devices only **********/
@media (min-width: 992px){
  .col-lg-4 {
    float: left;
    width: 33.33%; 
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  .col-lg-4 {
    width: 50%;
    float: left;
  }
  .col-lg-tablet{
    width: 100%;
    float: left;
 }
}

/********** Small devices only **********/
@media (max-width: 767px)  {
  
  .col-lg-4 {
    float: left;
    width: 100%;

  }
}

